body {
  margin: 0;
  padding: 0;
}

.container {
  width: 10%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

.containerImage {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

.containerTextArea {
  margin-bottom: 5px;
  width: 100%;
  height: 50px;
}

.containerText {
  text-decoration: none;
  color: black;
}

.containerText:hover {
  color: black;
  text-decoration: underline;
}

.googleContainer {
  width: 90%;
  height: 200px;
  margin: 100px auto 0 auto;
  text-align: center;
}

.googleContainerImage {
  width: 100%;
  height: 100px;
}

.googleContainerText {
  width: 100%;
  height: 100px;
  text-align: center;
}

.googleContainerTextInput {
  width: 58%;
  padding-left: 2%;
  height: 30px;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat left;
  background-size: 20px;
}

.bottomButton {
  text-align: center;
  float: left;
}

.bottomButtonSettings {
  margin: 5px 0 5px 10px;
  width: 120px;
  height: 30px;
  background-color: azure;
  border: 1px solid black;
  border-radius: 5px;
}
